#picColFriends {
	vertical-align: middle;
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 10px;
	width: 65px;
}

#listPicFriend {
	height: 40px;
}

#nameColFriends {
	font-size: 15px;
	vertical-align: middle;
	padding-top: 5px;
	width: 80px;
}

#levelColFriends {
	font-size: 11px;
	text-align: left;
	vertical-align: middle;
	padding-top: 5px;

	width: 100px;
}

#collectColFriends {
	font-size: 11px;
	text-align: center;
	vertical-align: middle;
	padding-top: 5px;
	padding-right: 5%;
	width: 100px;
}

.item.itemFriends {
	padding-left: 0px;
	background-color: #487f7e;
	color: white;
}

.friendsContainer {
	border-radius: 15px;
	border: 3px solid #f39200;
	background-color: white;

	margin: 10px;
	padding-bottom: 1px;
}

.inviteButton {
	margin: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #6a0f5a;
	color: white;
	font-size: 14px;
}

.facebookButton {
	margin: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #3B5998;
	color: white;
	font-size: 14px;
}

.detachButton {
	background-color: #98a0da;
	color: white;
	font-size: 13px;
	padding-left: 17px;
	padding-right: 16.5px;
}

#allUsers {
	margin-top: 20px;
	text-align: center;
	color: #a60b28;
}