<!-- www/templates/tracking.html 
API Key = AIzaSyAaYVXmtn1-IXaF1vu9wD2DFH0XRpDY1ZU -->
<ion-view view-title="Tracking" cache-view="false">
  <ion-content scroll="false">
    
  	<div class="tracking">
  		<a class="btn backTracking" href="#/">
          <img ng-src="assets/img/back_button.png" id="backButton" />
      </a>
      <img ng-src="assets/img/level_button.png" id="levelButton" />
      <p id="level">{{game.level}}</p>
  	</div>

    <!-- Pet -->
    <div class="feedback">
      <img ng-src="{{game.petType.pic}}" class="pet home feedback"/>
      <p id="msgTextOneLiner" ng-show="timer == null && repTimer == null">{{msgText}}</p>
      <p id="msgTextTwoLiner" ng-show="timer != null || repTimer != null">{{msgText}}</p>
      <p id="scoreText" ng-show="tracking">{{currentTracking.km}} km in {{message}}</p>
      <p id="scoreText" ng-show="timer != null && !tracking">{{message}}</p>
      <p id="scoreText" ng-show="repTimer != null">{{repCount}} repetitions</p>
      <img ng-src="assets/img/message.png" class="msg" ng-show="msgText != null"/>
    </div>

    <img ng-src="{{currentSelectedSport.url}}" class="sportMiddle" ng-hide="currentSelectedSport.name == 'Bicycling' || currentSelectedSport.name == 'Yoga'" />
    <img ng-src="{{currentSelectedSport.url}}" class="yoga" ng-show="currentSelectedSport.name == 'Yoga'" />
    <img ng-src="assets/img/gym/bike.png" class="sportBig" ng-show="currentSelectedSport.name == 'Bicycling'" />

    <!-- Slider -->
    <div class="row carousel" ng-show="showSlider">
      <button type="button" class="btn sliderButton" ng-click="previousSport(sliderPics[0])">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </button>
      <div>
        <table style="width: 100%; table-layout: fixed"> 
          <tr>
            <td id ="slideBox" ng-repeat="image in sliderPics">
              <img ng-src="{{image.url}}" class="sliderPic"  ng-show="!$middle"/>
              <div  ng-show="$middle" id="middleBox">
                <img ng-src="{{image.url}}" class="sliderPic" style="padding: 1px"/>
                <p id="slideText">{{image.name}}</p>
              </div>
              <p id="slideText" ng-show="!$middle">{{image.name}}</p>
            </td>
          </tr>
        </table>
      </div>
      <button type="button" class="btn sliderButton" ng-click="nextSport(sliderPics[2])">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </button>
    </div>

    <!-- Footer -->
  	<ion-footer-bar align-title="center">
      <button class="col button button-balanced" ng-click="startTracking(sliderPics[1].name.toLowerCase())" ng-hide="activityStarted">
        {{startTrackingButton}}
      </button>
      <div class="row trackingButton" ng-show="activityStarted">
        <button class="col button button-energized" ng-click="pauseTracking(sliderPics[1].name.toLowerCase())">
          {{pauseTrackingButton}}
        </button>
        <button class="col button button-assertive" ng-click="stopTracking(sliderPics[1].name.toLowerCase()); go('home')">
          {{stopTrackingButton}}
        </button>
      </div>
    </ion-footer-bar> 

 </ion-content>
</ion-view>